<div class="container">
    <form novalidate id="accountDeleteForm" >
        <h3 class="h3 my-4 font-weight-normal text-center">Delete Account</h3>

        <div class="form-group col-md-6 offset-md-3">
            <h5 class="h5">Are you sure to delete your account?</h5>
            <span>Note: Accounts with non zero balance cannot be deleted.</span>
        </div>

        <div class="form-group col-md-6 offset-md-3">
            <button type="submit" id="accountDeleteButton" class="btn btn-primary col-md-12">Delete Account</button>
        </div>
    </form>
</div>
