<div class="container">
    <form novalidate id="registrationForm" >
        <h3 class="h3 my-4 font-weight-normal text-center">Registration</h3>
        
        <div class="form-group col-md-6 offset-md-3">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username"/>
        </div>
        
        <div class="form-group col-md-6 offset-md-3">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password"/>
        </div>
        
        <div class="form-group col-md-6 offset-md-3">
            <label for="verifyPassword">Verify Password</label>
            <input type="password" class="form-control" id="verifyPassword"/>
        </div>

        <div class="form-group col-md-6 offset-md-3">
            <button type="submit" id="registerButton" class="btn btn-primary col-md-12">Register</button>
        </div>
    </form>
</div>
