<div class="jumbotron jumbotron-fluid bg-light">
    <div class="container">
        <h1 class="display-4">Welcome to Banking UI</h1>
        <p class="lead">
            Banking UI is used to simulate financial banking systems present in our society.
        </p>
        <p class="lead">
            Users can browse account details, update their passwords and delete their accounts.
            Users can browse transactions history and perform transactions of type deposit, withdraw and transfer on their accounts.
        </p>
    </div>
</div>


